# Api keys
OPENAI_API_KEY=openai-api-key

# Embedding models params
embeddings_llm="BAAI/bge-large-en-v1.5"
embeddings_cache_folder="full_path/huggingface/cache/llama_index/embeddings"

# Data params
property_file="Collin_CAD_Appraisal_Data_2024_20241208_75024.csv"
data_path="/full_path/property-rag-search/data/Colling-property-data"

# Base persistent storage path
persist_dir="/full_path/property-rag-search/index-persist"
#End of .env file
